<!DOCTYPE html>
<html>
    <head>
        <title>Leaning log</title>
        <h1>

            <a href="/">leninglog</a>
            <a href="/topic/">topic</a>
            {% if not "user_id" in session %}
              <a href="/users/register/">register</a>
              <a href="/login/">login</a>
            {% else %}
              Hello, {{session["username"]}}
              <a href="/logout/">logout</a>
            {% endif %}
        </h1>

        {% block header %}
        {% endblock %}
    </head>
    <body>


    </body>
</html>