{% extends "home/index.html" %}
{% block header %}
  <div class="jumbotron">
    <h3><a href="/topic/{{topic.id}}">{{topic.topic_s}}</a></h3>
  </div>
{% endblock header %}
{% block content  %}

<form method="POST" action="">
    <div class="form-group">
        
        <h3>new_empty:</h3>
            {{ form.entry }}
        
    </div>
    {{ form.csrf_token }}
    {{ form.submit }}
</form>

<script src="{{ url_for('static',filename='ckeditor/ckeditor.js') }}"></script>
<script>

    $(document).ready(function(){
        $("#g-4").addClass("active");
        $("#g-4-1").addClass("active");
    });
    const content = CKEDITOR.instances.editor.container.getText();
    CKEDITOR.replace('content',{
        filebrowserUploadUrl: '/ckupload/',
    });
</script>
{% endblock %}