{% extends "home/index.html" %}
{% block header %}
<a href="/topic/{{topic.id}}">{{topic.topic_s}}</a>
<form rodle="form" method="POST" action="">
    <div class="form-group">
        <label>new_empty:</label>
        {{ form.entry }}
    </div>
    {{form.submit}}
</form>

<script src="{{ url_for('static',filename='ckeditor/ckeditor.js') }}"></script>
<script>
    CKEDITOR.replace('content',{
        filebrowserUploadUrl:'/ckupload/',
        height:'545px',
        width:'1318px'
    });
</script>
{% endblock %}