{% extends 'home/index.html' %}

{% block header %}
  <div class="jumbotron">
    <h2>{{topic.topic_s}}</h2>
  </div>
{% endblock header %}

{% block content  %}

    <h3><a href="/new_enty/{{topic.id}}/">new_entry</a></h3>



  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.add_time}}
          <small>
            <a href="/edit_entry/{{entry.id}}/">edit entry</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <h3 class="box-title">
          {{ entry.empty|safe }}
        </h3>


      </div>
    </div>
  {% else %}

<h3 class="box-title"> There are no entries for this topic yet.</h3>

  {% endfor %}
<script>

    $(document).ready(function(){
        $("#g-4").addClass("active");
        $("#g-4-1").addClass("active");
    });
</script>
{% endblock %}