{% extends "home/index.html" %}
{% block header %}
  <div class="jumbotron">
    <h1>
        topics:
    </h1>
  </div>
{% endblock header %}
{% block content  %}

<h3>
          <a href="/new_topic/">new_topic</a>
</h3>

        {% for topic in topics %}

              <h3>
                  <a href="/topic/{{topic.id}}/">
                      {{topic.topic_s}}
                  </a>
              </h3>

        {% else %}
          <h3>No topics have been added yet.</h3>
        {% endfor %}


{% endblock %}