{% extends 'home/index.html' %}

{% block header %}
  <div class="jumbotron">
    <h3>{{topic.topic_s}}</h3>
  </div>
{% endblock header %}

{% block content  %}

    <h3><a href="/new_enty/{{topic.id}}/">new_entry</a></h3>



  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.add_time}}
          <small>
            <a href="/edit_entry/{{entry.id}}/">edit entry</a>
          </small>
        </h3>
      </div>
    <div class="panel-body">
      <h3>
        {{ entry.empty }}
      </h3>


      </div>
    </div>
  {% else %}

      There are no entries for this topic yet.

  {% endfor %}
{% endblock %}